<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
    logo: "<%= image_path('clonebnb-logo.png') %>",
    gmap_icon: "<%= image_path('gmap_icon.png') %>",
    gmap_icon_hover: "<%= image_path('gmap_icon_hover.png') %>",
    icon_bed: "<%= image_path('icon_bed.png') %>",
    icon_door: "<%= image_path('icon_door.png') %>",
    icon_home: "<%= image_path('icon_home.png') %>",
    icon_people: "<%= image_path('icon_people.png') %>",
    icon_pig: "<%= image_path('icon_pig.png') %>",
  }

</script>

<main id="root"></main>
